name: Build

on:
  push:

permissions:
  contents: read

jobs:
  app:
    runs-on: ubuntu-latest
    name: Application
    steps:
      - name: Checkout
        uses: actions/checkout@v6

      - name: Use Node.js LTS
        uses: actions/setup-node@v6
        with:
          node-version: lts/*
          cache: npm

      - name: Install NPM packages
        run: npm ci

      - name: Build Pages
        run: npm run build
